# Postgres 
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB_AUTH=auth
POSTGRES_DB_LOT=lot
POSTGRES_DB_BID=bid
POSTGRES_DB_NOTIF=notifications
POSTGRES_PORT=5432
AUTH_DB_URL=postgresql+asyncpg://user:password@auth-db:5432/auth
LOT_DB_URL=postgresql+asyncpg://user:password@lot-db:5432/lot
BID_DB_URL=postgresql+asyncpg://user:password@bid-db:5432/bid
NOTIF_DB_URL=postgresql+asyncpg://user:password@notif-db:5432/notifications

#JWT
JWT_SECRET=mysecret
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7